.intro{
  width: 500px;
  margin: 0 auto;
}

#upform-title {
  font-weight: bold;
  margin-bottom: 15px;
}

label {
  font-weight: normal;
}
.container {
  width: 75%;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  margin: 30px auto;
}
#contactForm {
  padding: 25px;
  
}
input,
textarea {
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0px;
  border-radius: 10px;
  border: none;
  resize: none;
}

input[type=submit] {
  background-color: #1ac0f3;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:black;
}

.hidden{
  display: none;
}

#block {
  display: block;
}

@media screen and (min-width: 768px){
  .container {
    width: 50%;
    
  }
}

@media screen and (min-width: 992px){
  .container {
    width: 45%;
  }
  .fa-house{
    display: none;
  }
}

@media screen and (min-width: 1200px){
  .container {
    width: 30%;
  }
}