*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

/*general stuff: applies to more than one section*/

html {
  height: 100%;
}
body{
  background-color: rgb(225, 252, 151);
  -moz-box-sizing: border-box;
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
}
a{
  text-decoration: none;
}
h1{
  color: white;
  text-shadow: 3px 3px black;
  text-transform: capitalize;
}

.hidden{
  display: none;
}

.visible{
  display: flex;
  flex-direction: column;
}

#arrow-btn{
  display: none;
  background-color: rgb(77, 197, 22);
  position:fixed;
  bottom: 20px;
  right: 15px;
}

#arrow-btn:hover{
  background-color: grey;
  cursor: pointer;
}
/*general stuff end*/

/*header start*/
header{
  background-color: black;
}
header a{
  color: white;
}
/*header end*/
/*dropdown start*/
.fa-solid{
  color:white;
  font-size: larger;
  cursor: pointer;
}

nav{
  padding: 1rem 0.5rem;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
}
.dropdown{
  color:white;
  margin-right: auto;
  position: relative;
  display: inline-block;
}

.dropdown-content{
  position:absolute;
  color: black;
  min-width: 100px;
  top: 2.5rem;
}

#content-pages{
  right: 10px;
}

#drop-tablet{
  display: none;
}

.dropdown-content a{
  display:block;
  font-size: 14px;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 10px;
  
}

/*dropdown end*/
/*hero start*/
.hero{
  background-image: url(../img/hero.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  height: 30vh;
  font-size: 3.5rem;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#span-h1{
  display: block;
  font-size: 1.5rem;
  text-shadow: none;
  color: black;
}

#hero2-es{
  background-image: url(../img/hero-dice.jpg);
  font-size: 3rem;
}
/*hero end*/

/*intro start*/
.intro{
  text-align: center;
  padding: 3rem 1rem 1rem;
}

.intro h2{
  margin-bottom: 1rem;
}
/*intro end*/

/* game cards start*/
.games-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 1rem 4rem 1rem;
}
.game-card{
  background-color: rgb(235, 255, 164);
  width: 70%;
  height: 370px;
  margin-bottom: 1rem;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgb(77, 197, 22);
}

.game-img{
  height: 200px;
}
.card-img{
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 3px;
}
.game-desc{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position:relative;
}

.game-desc h3{
  padding-bottom: 0.5rem;
}

.card-btn{
  background-color: white;
  padding: 0.5rem;
  width: fit-content;
  margin-top: 1rem;
  align-self: center;
  color: black;
}
.card-btn:hover{
  background-color: black;
  color: white;
}
/*game cards end*/

/*card button starts*/
.button-container{
  display: flex;
  justify-content: center;
}
button {
  border:none;
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

/*card button ends*/

/*footer starts*/
footer{
  margin-top: 2rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.center{
  background-color: white;
  padding: 1rem;
  text-align: center;
}
/*footer ends*/

@media screen and (min-width: 768px){
  .game-card{
    width: 40%;
    height: 400px;
    margin-bottom: 2rem;
  }
  .hero{
    height: 40vh;
  }
  .card-btn{
    margin-top: 2rem;
  }
  .game-desc{
    padding: 2rem;
  }
  #content-pages{
    left: 42.1rem;
  }
  #arrow-btn{
    margin-left: 1rem;
  }
  
}

@media screen and (min-width: 992px){
  .game-card{
    width: 35%;
  }
  #pag-icon{
    display: none;
  }
  #drop-tablet{
    display: block;
    color: white;
  }
  .nav-option{
    padding-left: 5rem;
    font-size: larger;
    font-weight: bold;
  }
  .nav-option:hover{
    color:grey;
  }
  #home-icon{
    display: none;
  }
}

@media screen and (min-width: 1200px){
  .hero{
    height: 60vh;
    font-size: 5rem;
  }
  .games-wrapper{
    
    padding: 1rem 5rem 4rem 5rem;
  }
  .game-card{
    width: 30%;
  }
  .nav-option{
    padding-left: 7rem;
    font-size: larger;
  }
  #arrow-btn{
    width: 40px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    
  }
}