#orange-background{
  background-color: rgba(255, 145, 0, 0.959);
}

#hero-ttt{
  background-image: url(../img/tic-tac-toe/ttt-hero.png);
}
#ttt-h1{
  color:black;
  text-shadow: 3px 3px white;
}

#ttt-h1 span{
  color:white;
  text-shadow: 3px 3px black;
}

#rules-memory {
  background-color: rgb(248, 224, 145);
  border: 3px dotted rgb(218, 142, 1);
  margin: 2rem;
  border-radius: 10px;
}
.grid{
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

.square-style {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: white;
}

/*rules start*/
.rules-container{
  background-color: rgb(255, 205, 66);
  padding: 2.5rem;
}

.rules-container h2, h3 {
  padding-bottom: 1rem;
}
#good-messa{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}


/*rules end*/

#result-section-ttt{
  background-color: rgb(248, 224, 145);
  width: 90%;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 3rem;
  margin: 0 auto;
  border: 3px dotted rgb(218, 142, 1);
  border-radius: 10px;
}
#reset-btn-container{
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px){
  #ttt-h1 span{
    color:black;
    text-shadow: 3px 3px white;
  }
  .grid{
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 1.5rem;
  }
  #result-section-ttt{
    width: 70%;

  }
  #rules-memory {
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 992px){
  .fa-house{
    display: none;
  }
}

@media screen and (min-width: 1200px){
  
}